.u--h3
{     
  color: #000;
  font-size: 50px;

}
.contenido
{
	width: 70%;
	margin-left: 80px;
}
.contenido-texto
{
	text-align: justify;
	line-height:1.5em;
	color: #222;
	font-size: 22px;
	font-weight: 400;
}
.contenido-title
{
	text-align: justify;
	line-height:1.5em;
	color: #222;
	font-size: 16px;
	font-weight: bold;
	
}
.color
{
	width: 100px;
	height: 100px;
	margin: 10px;
	text-align: center;
	color: #777;

}
.color-texto
{
	padding-top: 40px;
}
.paleta
{
	display: flex;
}